@page
@model GuildUsersModel
@{

}
<div class="container">
    <img height="100" src="/img/htb.png" />
    <h1><b>HTB Updates</b></h1>
    <hr>
    <p>Showing @Model.GuildUsers.Count guild users</p>
    <div class="table-responsive text-start">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Discord Id</th>
                    <th>HTB User Id</th>
                    <th>Guild Id</th>
                    <th>Verified</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.GuildUsers)
                {
                    <tr>
                        <th>@user.Id</th>
                        <th>-</th>
                        <th>@user.HTBUserId</th>
                        <th>@user.GuildId</th>
                        <th>@user.Verified</th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>