@page
@model HTBUsersModel
@{

}
<div class="container">
    <img height="100" src="/img/htb.png" />
    <h1><b>HTB Updates</b></h1>
    <hr>
    <p>Showing @Model.HTBUsers.Count HTB users</p>
    <div class="table-responsive text-start">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>HTB Id</th>
                    <th>Username</th>
                    <th>Score</th>
                    <th>Solves Count</th>
                    <th>Discord Users Count</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.HTBUsers)
                {
                    <tr>
                        <th>@user.HTBUser.Id</th>
                        <th>@user.HTBUser.HtbId</th>
                        <th>@user.HTBUser.Username</th>
                        <th>@user.HTBUser.Score</th>
                        <th>@user.SolvesCount</th>
                        <th>@user.DiscordUsersCount</th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>